<<<<<<< HEAD
@media (min-width: 656px) {
  .primary-card-index {
    transition: transform 0.5s;
    /* opacity: 0.4; */
  }

  .primary-card:hover .primary-card-index {
    transition: transform 0.5s;
    transform: scale(6.5);
  }
}

@media (min-width: 1000px) {
  .primary-card:hover .primary-card-index {
    transition: transform 0.5s;
    transform: scale(5);
  }
}

@media (min-width: 1100px) {
  .primary-card:hover .primary-card-index {
    transition: transform 0.5s;
    transform: scale(6);
  }
=======
.primary-card-index {
  transition: transform 0.5s;
  opacity: 0.4;
}

.primary-card:hover .primary-card-index {
  transition: transform 0.5s;
  transform: scale(4.5);
>>>>>>> 817639b87c34a4a80bb5ce678b68358c565bb036
}
