.primary-card:hover .overlap-text {
  z-index: 20;
}

@media (min-width: 656px) {
  .primary-card-index {
    transition: transform 0.5s;
    /* opacity: 0.4; */
  }

  .primary-card:hover .primary-card-index {
    transition: transform 0.5s;
    transform: scale(6.5);
  }
}

@media (min-width: 1000px) {
  .primary-card:hover .primary-card-index {
    transition: transform 0.5s;
    transform: scale(5);
  }
}

@media (min-width: 1100px) {
  .primary-card:hover .primary-card-index {
    transition: transform 0.5s;
    transform: scale(6);
  }
}
